<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { novalidate: true }) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
    <% if resource.errors[:name].any? %>
      <div class="error">
        <% resource.errors[:name].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <% if resource.errors[:email].any? %>
      <div class="error">
        <% resource.errors[:email].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if resource.errors[:password].any? %>
      <div class="error">
        <% resource.errors[:password].each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
